
aside nav{
    border-right: 1px solid gray;
    position: fixed;
    left: 0px;
    top: 0px;
    margin-top: px;
}
aside nav ul{
    list-style: none;
    font-size: 15px;
    padding: 0px;
    
}
aside nav li{
    border-top: none;
    padding: 15px;
    width: 200px;
    font-size: 20px;
}
aside nav a{
    text-decoration: none;
    color: black;
}
aside nav .line{
    color: white;
    height: 100vh;
}
.login{
    display: flex;
}

