.audio-player {
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 200px;
    height: 200px;
    border: 1px solid gray;
    position: fixed;
    left: 0px;
    bottom: 0px;
}

.audio-player .icon {
    font-size: 36px;
    text-align: center;
    margin-bottom: 7px;
    color: #555;
}

.track-info {
    text-align: center;
    margin-bottom: 5px;
}

.track-info strong {
    display: block;
    font-size: 0.9rem;
}

.track-info span {
    color: #888;
    font-size: 0.7rem;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 7px;
}

.controls button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #333;
}

.progress {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.8rem;
    color: #666;
    margin-bottom: 10px;
}

.progress input[type="range"] {
    flex-grow: 1;
}

.volume {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.8rem;
}

.volume input[type="range"] {
    accent-color: red;
    width: 70px;
}