header{
    border-bottom: 1px solid gray;
    padding: 20px;
}
header a{
    display: inline-block;
    text-decoration: none;
    color: black;
    margin-left: 30px;
}
.mypage{
    margin-left: 230px;
}
.search{
    margin-left: 30px;
}
