
nav{margin: 20px;}
nav ul{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    list-style: none;
    text-align: center;
    padding: 10px 0;
    }
nav ul li{
    letter-spacing: 10px;
    display: inline-block;
    padding: 0 10px;
    }
nav a.mypage{
    margin-left: 160px; 
    letter-spacing: 0px;
    }
nav a{
    color: black;
    text-decoration: none;
    }
nav a:hover{color: red;}